html,
body,
#root {
    height: 100%;
    margin: 0;
    background: #000000;
}
#ui {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 200px;
}
button {
    width: 200px;
    color: white;
    background-color: #303030;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    margin: 4px;
    font-size: 14px;
    border-radius: 4px;
    transition: opacity 0.3s;
}
button:hover {
    opacity: 0.7;
    background-color: #606060;
}